[Unit]
Description=Bind secondary NVIDIA GPU to vfio-pci
DefaultDependencies=no
After=systemd-modules-load.service
Before=plasmalogin.service display-manager.service

[Service]
Type=oneshot
ExecStart=/usr/bin/vfio-bind-secondary-gpu.sh
RemainAfterExit=yes

[Install]
RequiredBy=plasmalogin.service display-manager.service
WantedBy=basic.target
