[submodule "SecureBlue-KDE-Agentic-Deploy"]
	path = SecureBlue-KDE-Agentic-Deploy
	url = ../SecureBlue-KDE-Agentic-Deploy.git

[submodule "agentic-qubes-os"]
	path = agentic-qubes-os
	url = ../agentic-qubes-os.git
